{% extends "base.html" %}

{% block hero %}
    <img src="{{ url_for('static', filename='assets/unicamp.jpg') }}" alt="Hero Image" class="hero">
{% endblock %}

{% block content %}

    <section id="temp">
        <h2>Recomendados</h2>
        <p>Aqui vai ter recomendação de produtos (mais recentes, algo assim)</p>
    </section>

    <div class="container">
        <button class="arrow-left-control" aria-label="Previous product">◀</button>
        <button class="arrow-right-control" aria-label="Next product">▶</button>
        
        <div class="gallery-wrapper" id="gallery-scroll">
            <div class="gallery" id="product-list"></div>
        </div>    
    </div>
{% endblock %}