{% extends "base.html" %}

{% block title %}Sobre Nós{% endblock %}

{% block content %}
    <section id="about">
        <h2>Sobre Nós</h2>
        <p>Este site foi desenvolvido no contexto da disciplina MC656 do curso de Ciência da Computação da Universidade Estadual de Campinas (UNICAMP). 
                Nossa proposta surge de um problema recorrente na vida universitária: a dificuldade que estudantes ingressantes enfrentam para adquirir itens 
                essenciais de moradia, como móveis, eletrodomésticos e utensílios, e, ao mesmo tempo, o desafio que formandos encontram ao precisar se 
                desfazer desses mesmos objetos ao deixar a universidade. A permanência estudantil vai além do acesso à educação, ela envolve também condições
                para viver com dignidade durante o período acadêmico. O acesso a esses itens pode fazer uma diferença significativa na adaptação, no bem-estar
                e no desenvolvimento dos estudantes na UNICAMP. O projeto se baseia nos princípios da economia circular, incentivando o reaproveitamento de 
                recursos e a redução do desperdício. Ao conectar quem precisa se desfazer de objetos com quem precisa adquiri-los, promovemos um ciclo mais 
                sustentável, acessível e colaborativo dentro da comunidade universitária. Com este site, buscamos facilitar o anúncio de doações, vendas e 
                repasses, fortalecendo redes de apoio entre estudantes e contribuindo para uma universidade mais inclusiva, sustentável e acolhedora.
            </p>
    </section>
{% endblock %}