<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <!-- Nesse arquivo você define o básico que tem em todas as páginas, um header que tem em tudo, um rodapé, coisas do tipo. -->   
    <!-- Outros arquivos vão usar { % extends "layout.html" % } no começo deles (na hora de usar tira o espaço entre o % e a chave, eu deixei só porque dava erro se tivesse sem). -->   
    {% block content %} {% endblock content %}
</body>
</html>
